body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*import PizzasList from "../components/PizzasList";
import { ContextCarro } from "../components/ContextCarro";
import { useContext } from "react";


export default function Home() {
    const state = useContext(state)
    
    return (   
        <div id="Home">
        
        <h1>Pizzería Mamma Mía</h1> 

        <PizzasList />
        </div>
    );
}
*/